<footer class="footer">
    <div class="wrapper">
         	<p class="copyright"> <span id="footer-text">&copy; 2015 {{@blog.title}}. Proudly published with <a href="http://ghost.org">Ghost</a>. Built by <a href="http://www.meanthemes.com" target="_blank">MeanThemes</a></span></p>

         	<!-- Add Social Icons -->


    </div>
</footer>
