{{#if next}}<div class="pagination" id="nav-below">
			<span class="previous-posts">{{#if prev}}
					<a href="{{page_url prev}}">Previous Posts</a>
			{{/if}}</span>
			<span class="next-posts">{{#if next}}
					<a href="{{page_url next}}">Next Posts</a>
			{{/if}}</span>
	</div>
{{/if}}
